# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production Builds
/dist
/.next/
/out/
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment local files
.env*.local
.env

# System & IDE files
.DS_Store
*.pem
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
